.about{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;

    .main{
        h1{
            text-align: center;
        }
        width: 90%;
        background: white;
        padding: 15px;
        border: black dashed 2px;
        margin: 25px;
    }

    .map{
        width: 80%;
        height: 60vh;

        .marker{
            color: #fff;
            font-weight: bolder;
            background: #EE5C83;
            width: 4rem;
            height: 4rem;
            padding-top: 1rem;
            border-radius: 50%;
            text-align: center;
        }
    }
}