@import 'flex-center';

$font-color : rgb(0, 0, 0);

$bg-color : linear-gradient(90deg, #e64980 5%, #ff8787 95%);
  
.app{
    
    position: relative;
    min-height: 100vh;
    min-width: 340px;

}

.main-card{
    margin: 15px;
    padding: 25px;

    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);

    @include center;
    
    color: $font-color;
    min-width: min-content;

    z-index: 1000;
    .left-content{
        width: 59%;
        h1{
            font-size: 4em;
            font-weight: 1000;
        }
        p{
            font-size: 2em;
        }
        
    }

    img{
        width:40%;
        min-width: 200px;
    }
}





@media screen and (max-width: 579px){
    .main-card{
        .left-content{
            padding: 0;
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
    
}